{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% load humanize %}

{% block content-header %}

    <section class="content-header">
        <h1>
            {{ page.title }}
            <small>{{ page.subtitle }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li class="active">Inicio</li>
        </ol>
    </section>

{% endblock content-header %}

{% block css %}
{% endblock css %}

{% block content %}


    <!-- start: PAGE CONTENT -->

    <div class="row">
        <div class="col-sm-12">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">

                    <!-- start: FROM -->
                    <form action="" method="post">{% csrf_token %}


                        <ul class="list-group">
                        <li class="list-group-item">
                            <b>Nombre: </b> {{ object.nombre }}
                        </li>
                        <li class="list-group-item">
                            <b>Usuario: </b> {{ object.usuario }}
                        </li>
                        <li class="list-group-item">
                            <b>Capacidad en tanque para 91 octanos: </b> {{ object.capacidad_91 }}
                        </li>
                        <li class="list-group-item">
                            <b>Reserva en tanque para 91 octanos: </b> {{ object.reserva_91 }}
                        </li>

                        <li class="list-group-item">
                            <b>Capacidad en tanque para 95 octanos: </b> {{ object.capacidad_95 }}
                        </li>
                        <li class="list-group-item">
                            <b>Reserva en tanque para 91 octanos: </b> {{ object.reserva_91 }}
                        </li>
                        <li class="list-group-item">
                            <b>Operativa: </b> {{ object.operativa }}
                        </li>
                        <li class="list-group-item">
                            <b>Disponibilidad: </b> {{ object.disponible91.0|floatformat:2|intcomma }}
                        </li>

                    </ul>

                        <p>¿ Seguro de eliminar este registro ?</p>

                        <a href="" onclick="document.forms[0].submit();return false;"
                           class="btn btn-danger">
                            <i class="fa fa-trash-o"></i> Eliminar</a>
                        <a href="{% url 'gas_app:estaciones_list' %}" class="btn btn-success"><i
                                class="fa fa-times"></i> Cancelar</a>

                    </form>
                    <!-- end: FROM -->

                </div>
            </div>
        </div>
    </div>
    <!-- end: PAGE CONTENT-->

{% endblock content %}
