{% load static i18n %}
{% load humanize %}
<div class="row">
    <div class="col-md-12">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Estaciones de servicio</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Estación</th>
                    <th>Disponibilidad de combustible</th>
                    <th>Acción</th>
                </tr>

                {% for est in estaciones %}

                    <tr>
                        <td>{{ est.id }}</td>
                        <td>{{ est.nombre }}</td>
                        <td>
                            <span class="badge bg-primary">91 Octanos: {{ est.disponible91.1|floatformat:2|intcomma }}%</span>
                            <span class="badge bg-primary">95 Octanos: {{ est.disponible95.1|floatformat:2|intcomma }}%</span>
                            <span class="badge bg-primary">Gasoil: {{ est.disponibleGasoil.1|floatformat:2|intcomma }}%</span>
                        </td>
                        <td>
                            <a href="{% url 'gas_app:carga' est.id %}"
                                       class="btn btn-primary"><i
                                            class="fa fa-plus"></i> Recolectar</a>
                        </td>

                    </tr>
                {% endfor %}

            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <!-- /.box -->
