<li class="treeview">
    <a href="#">
        <i class="fa fa-laptop"></i>
        <span>Supervisor</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{% url 'supervisor_app:supervisor_estadistica' %}"><i class="fa fa-circle-o"></i> Estadística</a></li>
        <li><a href="{% url 'supervisor_app:supervisor_dash_plotly' %}"><i class="fa fa-circle-o"></i> Detalles de Estadísticas</a></li>
        <li><a href="{% url 'supervisor_app:supervisor_vehiculos' %}"><i class="fa fa-circle-o"></i> Vehiculos</a></li>
    </ul>
</li>
