{% extends "base.html" %}
{% load static i18n %}
{% load humanize %}
{% block title %}Supervisor - Estadísticas{% endblock %}


{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.css' %}" />

{% endblock css %}

{% block content-header %}

    <section class="content-header">
        <h1>
            Estadísticas
            <small>Información</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>listado General</a></li>
        </ol>
    </section>

{% endblock content-header %}

{% block content %}

    <div class="row">

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ num_user }}</h3>

                    <p>Usuario registrados</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">Más info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ num_vehiculos }}</h3>
                    <p>Vehículos registrados</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">Más info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ num_atendidos }}</h3>
                    <p>Usuarios atendidos en el día</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">Más info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{ num_rebotados }}</h3>
                    <p>Número de rebotados al día</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">Más info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

    </div>


    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Consulta</h3>
        </div>

        <form role="form" id="formToPlot" action="javascript:toPagePlots()" data-url="{% url 'supervisor_app:supervisor_plots' %}">
            <div class="box-body">
                <div class="row">

                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="rangeDateConsult">Rango de Fechas</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right"  name="daterange" id="rangeDateConsult">
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="selectMunicipio">Municipio</label>
                            <select class="form-control" id="selectMunicipio" name="municipioPlot">
                                <option value="">Todos</option>
                                {% for mun in municipios %}
                                <option value="{{ mun.id }}">{{ mun.id }} - {{ mun }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="selectParroquia">Parroquía</label>
                            <select class="form-control" id="selectParroquia" name="parroquiaPlot" disabled>
                                <option value="">Todos</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="selectEstacion">Estación</label>
                            <select class="form-control" id="selectEstacion" name="estacionPlot" disabled>
                                <option value="">Todos</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Consultar</button>
            </div>
        </form>
    </div>


    <div id="divPlotly" class="box box-primary">

        <div class="box-header">
            <h3 class="box-title">Resultados</h3>
        </div>

        <div class="box-body">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe id="iframePlots" class="embed-responsive-item"></iframe>
            </div>
        </div>

    </div>

{% endblock content %}

{% block js %}

    <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    
    <script>
        $(function() {
          $('input[name="daterange"]').daterangepicker({
            locale: {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "daysOfWeek": ["Do","Lu","Ma","Mi","Ju","Vi","Sa"],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre"
                ],
                "firstDay": 0
            },
            opens: 'right',
            maxDate: moment(),
            startDate: moment().subtract(1, 'month'),
            endDate: moment(),
          });
        });

        function toPagePlots(){
            //$("#iframePlots").attr('src', $('#formToPlot').attr('data-url')+'?'+$('#formToPlot').serialize());
            $("#divPlotly").append(
                '<div id="loadingPlots" class="overlay">'+
                    '<i class="fa fa-refresh fa-spin"></i>'+
                '</div>'
            );
            $.ajax({
                url: $('#formToPlot').attr('data-url')+'?'+$('#formToPlot').serialize(),
                //timeout: 5*1000,
                success: function (result) {
                        $("#iframePlots").attr('srcdoc', result);
                        console.log('Load sample:', result[1]);
                        $("#loadingPlots").remove();
                    }
            });
        };

    </script>


{% endblock js %}


