{% extends "base.html" %}
{% load static i18n %}
{% load humanize %}
{% block title %}Colas - Reporte{% endblock %}


{% block css %}

    <link rel="stylesheet" href="{% static 'plugins/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/DataTables/Buttons-1.5.6/css/buttons.dataTables.min.css' %}">

{% endblock css %}

{% block content-header %}

    <section class="content-header">
        <h1>
            Histórico
            <small>colas</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        </ol>
    </section>

{% endblock content-header %}

{% block content %}

    <div class="alert alert-success" id="success-alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Mensaje: </strong>
        Regitro procesado.
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Colas cerradas por municipio</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="row" id="combustible">
                        <div id="table-combustible" class="container col-md-12">
                            <table id="tabla_combustible"
                                   style="width:100%"
                                   class="table table-bordered table-striped">
                                <div class="loading-table-data">
                                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                                    <span class="sr-only">Loading...</span>
                                    <p>Loading data...</p>
                                </div>

                            </table>
                        </div>
                    </div>

                    <div id="cola"  style="display: none">
                        <button type="button"
                                class="btn btn-reset btn-success btn-flat"
                                id="cerrar_cola">Regresar
                        </button>
                        <br><br>

                        <table id="tabla_colas"
                               style="width:100%"
                               class="table table-bordered table-striped">
                            <div class="loading-table-data">
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                                <span class="sr-only">Loading...</span>
                                <p>Loading data...</p>
                            </div>
                        </table>
                    </div>


                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->



    <div class="modal fade" id="modal-add-vehiculo">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Agregar vehículo</h4>
                </div>
                <div class="modal-body">

                    <br>
                    <label>Placa:</label>
                    <input class="form-control" type="text" placeholder="Default input" id="add_placa" readonly>
                    <br>
                    <label>Cédula:</label>
                    <input class="form-control" type="text" placeholder="Cedula empieza con V o E" id="username">
                    <br>
                    <br>
                    <!-- select -->
                    <div class="form-group">
                        <label>Tipo de vehiculo</label>
                        <select class="form-control" name="tipo_vehiculo" id="tipo_vehiculo">
                            <option value="Particular">Particular</option>
                            <option value="Transporte Publico">Transporte Publico</option>
                            <option value="Oficial">Oficial</option>
                            <option value="Moto">Moto</option>
                            <option value="Moto Taxita">Moto Taxita</option>
                        </select>
                    </div>
                    <!-- select -->
                    <div class="form-group">
                        <label>Cilindros</label>
                        <select class="form-control" name="add_cilindros" id="add_cilindros">
                            <option value="1">1</option>
                            <option value="4">2</option>
                            <option value="4">3</option>
                            <option value="4">4</option>
                            <option value="6">6</option>
                            <option value="8">8</option>
                        </select>
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" onclick="addCancelarAdd()">Cancelar</button>
                    <button type="button" onclick="addVehiculo()" class="btn btn-primary">Grabar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div class="modal fade" id="modal-alerta">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Alerta del sistema</h4>
                </div>
                <div class="modal-body">

                    <div id="alerta-mensaje"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" onclick="cancelarAlerta()">Cancelar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock content %}

{% block js %}


    <script src="{% static 'plugins/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-mask-plugin/dist/jquery.mask.min.js' %}"></script>

    <script src="{% static 'plugins/DataTables/Buttons-1.5.6/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables/Buttons-1.5.6/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'bower_components/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'bower_components/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'bower_components/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/DataTables/Buttons-1.5.6/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables/Buttons-1.5.6/js/buttons.print.min.js' %}"></script>


    <script type="text/javascript">

        var table_cola;
        var table;
        var combustible_id;

        var URL = "/api/vehiculos/";
        var URL_COLA = "/api/cola_publica/";
        var URL_COLA_CRUD = "/api/cola-crud/";
        var URL_VEH = "/api/vehiculos/";
        var URL_ULTIMA_COLA = "/api/ultima_cola/";
        var URL_CONTAR_COLA = "/api/cola/contar_cola/";

        var c = '{{ csrf_token }}';
        var ajax_header = {'X-CSRFToken': c};


        $(document).ready(
            function () {

                var options = {
                    translation: {
                        '0': {pattern: /\d/},
                        '1': {pattern: /[1-9]/},
                        '9': {pattern: /\d/, optional: true},
                        '#': {pattern: /\d/, recursive: true},
                        'C': {pattern: /V|v|E|e/, fallback: 'V'}
                    }
                };
                $('#username').mask('C-19999999', options);

                $('#username').on('input', function (e) {
                    var username = $(this).val();
                    if (username.length > 9) {
                        var cedula = username.substring(2);
                        if (cedula > 80000000) {
                            $(this).val('E-' + cedula);
                        }
                    }
                });

                $("#loading").hide();
                $("#success-alert").hide();

                $("#buscar_placa").bind('keyup', function (e) {
                    if (e.which >= 97 && e.which <= 122) {
                        var newKey = e.which - 32;
                        // I have tried setting those
                        e.keyCode = newKey;
                        e.charCode = newKey;
                    }
                    $("#buscar_placa").val(($("#buscar_placa").val()).toUpperCase());
                });

                $('#cola').hide();

                table = $('#tabla_combustible').DataTable({
                    'serverSide': true,
                    "scrollY": 200,
                    "scrollX": true,
                    'ajax': '/api/combustible_historico/?format=datatables',

                    "language": {
                        "url": "{% static 'plugins/DataTables/Spanish.json' %}"
                    },

                    'columns': [
                        /*
                        {
                            "className": 'details-control',
                            "orderable": false,
                            "data": null,
                            "defaultContent": ''
                        },
                        */
                        {"title": "Id", "data": "id", "responsivePriority": 1,},
                        {"title": "Tipo Combustible", "data": "tipo_combustible", "responsivePriority": 1,},
                        {"title": "Municipio", "data": "estacion.municipio", "responsivePriority": 1,},
                        {"title": "Estacion", "data": "estacion.nombre", "responsivePriority": 1,},
                        {"title": "Fecha cierre", "data": "last_modified_at", "responsivePriority": 1,},
                        {"title": "Nro. Cupos", "data": "cantidad_vehiculos", "responsivePriority": 1,},
                        {"title": "Lt/Veh", "data": "cantidad_maxima_por_vehiculo", "responsivePriority": 1,},
                        {"title": "Total Veh", "data": "total_cola", "responsivePriority": 1,},
                        {
                            "data": null,
                            "defaultContent": "<button>Detalle</button>"
                        }
                    ],

                    "initComplete": function (settings, json) {
                        $('div.loading-table-data').hide()
                    },

                });

                $('#tabla_combustible tbody').on('click', 'button', function () {

                    var data = table.row($(this).parents('tr')).data();
                    //alert(data['id'] + "'s salary is: " + data['cantidad_maxima_por_vehiculo']);
                    combustible_id = data['id'];

                    $('#cola').show();
                    $('#combustible').hide();


                    table_cola = $('#tabla_colas').DataTable({
                        "processing": true,
                        "serverSide": true,
                        "scrollY": 200,
                        "scrollX": true,
                        'ajax': '/api/colas_historico/' + data['id'] + '/?format=datatables',
                        "language": {
                            "url": "{% static 'plugins/DataTables/Spanish.json' %}"
                        },

                        'columns': [
                            /*
                            {
                                "className": 'details-control',
                                "orderable": false,
                                "data": null,
                                "defaultContent": ''
                            },
                            */
                            {"title": "Id", "data": "id", "responsivePriority": 1,},
                            {"title": "Placa", "data": "vehiculo.placa", "responsivePriority": 1,},
                            {
                                "data": "cargado",
                                "title": "Cargado",
                                "render": function (data, type, row) {
                                    return (data == true) ? '<span class="glyphicon glyphicon-ok"></span>' : '<span class="glyphicon glyphicon-remove"></span > ';
                                }
                            },

                        ],

                        "initComplete": function (settings, json) {
                            $('div.loading-table-data').hide()
                        },
                        dom: 'lBfrtip',
                        buttons: [
                            'copyHtml5',
                            'print'
                        ]
                    });


                });

                $('#cerrar_cola').on('click', function () {

                    $('#cola').hide();
                    $('#combustible').show();
                    table_cola.destroy();

                });

            });

        function registarEnCola() {
            $("#loading").show();

            var buscar_placa_value = $("#buscar_placa").val();

            if (buscar_placa_value.length < 6) {
                alert('Número de placa invalida')
            } else {
                $.getJSON(URL + $("#buscar_placa").val())
                    .done(ultimaCola)   // on success - 200
                    .fail(function ()    // on failure - 404
                        {
                            $("#add_placa").val($("#buscar_placa").val());
                            $('#modal-add-vehiculo').modal('show');

                        }
                    );
            }
            $("#loading").hide();

        }

        function ultimaCola() {
            $.getJSON(URL_ULTIMA_COLA + $("#buscar_placa").val())
                .done(function (result)    // on failure - 404
                    {
                        console.log('verifico ultimaCola()')
                        var ultima_carga = jQuery.parseJSON(result.data);

                        if (ultima_carga.cargar == 'false') {

                            var options = {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'};
                            var created_at = new Date(ultima_carga.created_at);

                            $("#alerta-mensaje").html("<b>Atención: </b> vehículo placas: <b>" + $("#buscar_placa").val() + " </b>" + ultima_carga.mensaje + " en la estación: " + ultima_carga.estacion + " fecha: " + created_at);
                            if (ultima_carga.proxima_recarga != '') {
                                var pr = new Date(ultima_carga.proxima_recarga);
                                $("#alerta-mensaje").append("<br><br><b>Proxima recarga el: </b>" + pr)
                            }
                            $('#modal-alerta').modal('show');
                        } else {
                            encolarVehiculo()
                        }
                    }
                )   // on success - 200
                .fail();
        }

        function encolarVehiculo() {
            $("#loading").show();

            var data_vehiculo = {
                "combustible": combustible_id,
                "vehiculo": $("#buscar_placa").val(),
                //"vehiculo": {"placa": $("#buscar_placa").val()},
            };
            console.log(data_vehiculo);


            $.ajax(
                {
                    url: URL_COLA_CRUD + combustible_id + '/',
                    data: data_vehiculo,
                    dataType: "json",
                    type: "post",
                    headers: ajax_header,
                    success: function (request) {
                        $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                            $("#success-alert").slideUp(500);
                        });
                        table_cola.ajax.reload();
                        table.ajax.reload();
                    },
                    error: function (request, status, error) {
                        console.log('encolarVehiculo');
                        console.log(request);
                        alert(request.responseText);
                    }
                    //error: add_error
                }
            ); // ajax()

            $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });
            table_cola.ajax.reload();
            table.ajax.reload();

            $("#loading").hide();
        }

        function addVehiculo() {
            $("#loading").show();

            $.ajax(
                {
                    url: URL_VEH,
                    data: {
                        "placa": $("#add_placa").val(),
                        "cedula": $("#username").val(),
                        "tipo_vehiculo": $("#tipo_vehiculo option:selected").text(),
                        "cilindros": $("#add_cilindros option:selected").text(),
                    },
                    headers: ajax_header,
                    dataType: "json",
                    type: "post",
                    success: veh_add_success,
                    error: function (request, status, error) {
                        alert(request.responseText);
                    }
                    //error: add_error
                }
            ); // ajax()
            $("#loading").hide();
        }

        function veh_add_success() {
            //salert("Added carga Successfully");
            encolarVehiculo();
            $("#buscar_placa").val("");
            $("#username").val("");
            $('#modal-add-vehiculo').modal('hide');

        }

        function add_success() {
            //alert("Added carga Successfully");
            $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });
            table_cola.ajax.reload();
            table.ajax.reload();

        }

        function addCancelarAdd() {
            $("#buscar_placa").val('');
            $('#modal-add-vehiculo').modal('hide');

        }

        function cancelarAlerta() {
            $('#modal-alerta').modal('hide');
        }
    </script>

{% endblock js %}

