{% extends "base.html" %}
{% load static i18n %}
{% load humanize %}
{% block title %}Colas - Reporte{% endblock %}


{% block css %}

    <link rel="stylesheet" href="{% static 'plugins/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/DataTables/Buttons-1.5.6/css/buttons.dataTables.min.css' %}">

{% endblock css %}

{% block content-header %}

    <section class="content-header">
        <h1>
            Planificación
            <small>diaria</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Planes</a></li>
        </ol>
    </section>

{% endblock content-header %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Detalle de planificación por municipio</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <button type="button" class="btn btn-default" id="today">Hoy</button>
                    <button type="button" class="btn btn-default" id="tomorrow">Mañana</button>
                    <br> <br>

                    <div class="row" id="combustible">
                        <div id="table-combustible" class="container col-md-12">
                            <table id="tabla_combustible"
                                   style="width:100%"
                                   class="table table-bordered table-striped">
                                <div class="loading-table-data">
                                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                                    <span class="sr-only">Loading...</span>
                                    <p>Loading data...</p>
                                </div>

                            </table>
                        </div>
                    </div>

                    <div id="cola" style="display: none">
                        <button type="button"
                                class="btn btn-reset btn-success btn-flat"
                                id="cerrar_cola">Regresar
                        </button>
                        <br><br>

                        <table id="tabla_colas"
                               style="width:100%"
                               class="table table-bordered table-striped">
                            <div class="loading-table-data">
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                                <span class="sr-only">Loading...</span>
                                <p>Loading data...</p>
                            </div>
                        </table>
                    </div>


                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->


{% endblock content %}

{% block js %}


    <script src="{% static 'plugins/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-mask-plugin/dist/jquery.mask.min.js' %}"></script>
    <script src="{% static 'plugins/moment/min/moment.min.js' %}"></script>

    {% comment %}
     <script src="{% static 'plugins/DataTables/Buttons-1.5.6/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables/Buttons-1.5.6/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'bower_components/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'bower_components/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'bower_components/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/DataTables/Buttons-1.5.6/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/DataTables/Buttons-1.5.6/js/buttons.print.min.js' %}"></script>
    {% endcomment %}

    <script type="text/javascript">

        var table_cola;
        var table;
        var combustible_id;

        $(document).ready(
            function () {

                $("#loading").hide();
                $("#success-alert").hide();


                $('#cola').hide();

                table = $('#tabla_combustible').DataTable({
                    'serverSide': true,
                    //"scrollY": 200,
                    "scrollX": true,
                    'ajax': '/api/combustible_publico/?format=datatables',

                    "language": {
                        "url": "{% static 'plugins/DataTables/Spanish.json' %}"
                    },

                    "order": [[0, "desc"]],

                    'columns': [
                        {"title": "Id", "data": "id", "responsivePriority": 1,},
                        {"title": "Municipio", "data": "estacion.municipio", "responsivePriority": 1,},
                        {"title": "Estacion", "data": "estacion.nombre", "responsivePriority": 1,},
                        {
                            "title": "Fecha Plan",
                            "data": "fecha_planificacion",
                            "responsivePriority": 1,
                            render: function (data, type, row) {
                                if (type === "sort" || type === "type") {
                                    return data;
                                }
                                return moment(data).format("DD/MM/YYYY");
                            }
                        },

                        {"title": "Direccion", "data": "estacion.direccion", "responsivePriority": 1,},
                        {"title": "Nota", "data": "nota", "responsivePriority": 1,},
                        {"title": "Estado", "data": "estado", "responsivePriority": 1,},
                        {
                            "data": "estacion.operativa",
                            "title": "Abierta",
                            "render": function (data, type, row) {
                                return (data == true) ? '<span class="glyphicon glyphicon-ok"></span>' : '<span class="glyphicon glyphicon-remove"></span > ';
                            }
                        },
                        //{"title": "Nro. Cupos/Aprox", "data": "cantidad_vehiculos", "responsivePriority": 1,},
                        //{"title": "Lt/Veh/Aprox", "data": "cantidad_maxima_por_vehiculo", "responsivePriority": 1,},
                        //{"title": "En Cola", "data": "total_cola", "responsivePriority": 1,},
                        /*
                        {
                            "data": null,
                            "defaultContent": "<button>Detalle</button>"
                        }
                        */
                    ],

                    "initComplete": function (settings, json) {
                        $('div.loading-table-data').hide()
                    },

                });

                $('#tabla_combustible tbody').on('click', 'button', function () {

                    var data = table.row($(this).parents('tr')).data();

                    combustible_id = data['id'];

                    $('#cola').show();
                    $('#combustible').hide();


                    table_cola = $('#tabla_colas').DataTable({
                        "processing": true,
                        "serverSide": true,
                        //"scrollY": 200,
                        "scrollX": true,
                        'ajax': '/api/colas_publico/' + data['id'] + '/?format=datatables',
                        "language": {
                            "url": "{% static 'plugins/DataTables/Spanish.json' %}"
                        },

                        "order": [[1, "desc"]],

                        'columns': [

                            {"title": "Id", "data": "id", "responsivePriority": 1,},
                            {"title": "Placa", "data": "vehiculo.placa", "responsivePriority": 1,},
                            {
                                "data": "cargado",
                                "title": "Cargado",
                                "render": function (data, type, row) {
                                    return (data == true) ? '<span class="glyphicon glyphicon-ok"></span>' : '<span class="glyphicon glyphicon-remove"></span > ';
                                }
                            },

                        ],

                        "initComplete": function (settings, json) {
                            $('div.loading-table-data').hide()
                        },
                        dom: 'lBfrtip',
                        buttons: [
                            'copyHtml5',
                            'print',
                            {
                                text: 'Recargar',
                                action: function (e, dt, node, config) {
                                    dt.ajax.reload();
                                }
                            }
                        ]
                    });

                });

                $('#cerrar_cola').on('click', function () {

                    $('#cola').hide();
                    $('#combustible').show();
                    table_cola.destroy();

                });

                $('#tomorrow').on('click', function () {
                   table.ajax.url('/api/combustible_publico/?format=datatables&q=t').load();

                });

                $('#today').on('click', function () {
                    table.ajax.url('/api/combustible_publico/?format=datatables').load();

                });

            });

    </script>

{% endblock js %}

